src/Fraction Calculator/.vs
src/Fraction Calculator/Fraction Calculator.sln
src/Fraction Calculator/Fraction Calculator.vcxproj
src/Fraction Calculator/Fraction Calculator.vcxproj.filters
src/Fraction Calculator/Debug
